//Variables
$primary: rgb(40, 52, 123);
$darkblue: #090c0e;
$grey: #76777A;
$gold: #B79E4B;

$giorno: #7D6A33;
$giornoColors: (
    6: #8D7A39,
    5: #B79E4A,
    4: #C4AA4F,
    3: #E2C35B,
    2: #F4CC66,
    1: #FFDC67);

$pomeriggio: #878787;
$pomeriggioColors: (
    6: #9C9B9B,
    5: #A9A9A9,
    4: #C2C1C1,
    3: #D8D8D8,
    2: #EFEFEF,
    1: #FFFFFF);

//Mixins



//Breakpoints
$extraSmall: 500px;
$small: 768px;
$medium: 769px;
$large: 1200px;
$extra: 1440px;

//Queries
//between 501 and 768
@mixin extraSmall {
    @media screen and (max-width: $extraSmall) {
        @content;
    }
}

@mixin small {
    @media screen and (max-width: $small) {
        @content;
    }
}

//between 769 and 1120
@mixin medium {
    @media (min-width: $medium) {
        @content;
    }
}

//between 1120 and 1440
@mixin large {
    @media (min-width: $large) {
        @content;
    }
}

//1440 foward
@mixin extralarge {
    @media (min-width: $extra) {
        @content;
    }
}

//Animation
@keyframes pointdown {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(100%);
    }
}

@keyframes wave {
    0% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        transform: translateX(10%);
    }

}

@keyframes slide {
    from {
        background-position: 0 bottom;
    }

    to {
        background-position: 1186px bottom;
    }
}

.division {
    height: 31px;
    background-image: url(../imgs/division.png);
    background-size: 31px;
}

:root {
    font-size: 16px;
}

html {
    overflow: auto;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: 'BommerSans', Arial, Helvetica;
        font-weight: bold;
        letter-spacing: -3.52px;
    }

    p {
        color: white;
        font-family: 'BommerSans', Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 0.8125em;
        max-width: 17.4125rem;
        line-height: 1.4rem;
        overflow: hidden;
    }

    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px;
    }
}

main {
    overflow: hidden;

    .menu-left-right {
        menu {
            // mix-blend-mode: difference;
            position: absolute;
            top: 50%;
            left: 3%;
            z-index: 10;

            &:last-child {
                top: 50%;
                left: auto;
                right: 3%;

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;

                    li {
                        &::before {
                            display: none !important;
                        }

                        button {
                            svg {
                                width: 2em;

                                path {
                                    fill: white;
                                }
                            }
                        }
                    }
                }
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;

                li {
                    color: white;
                    font-size: 0.8rem;

                    &:not(:first-child) {
                        &::before {
                            content: '|';
                            font-family: 'Bommer Sans';
                            display: inline-block;
                            margin: 0 5px;
                            color: inherit;
                            font-weight: bolder;
                            font-size: inherit;
                        }
                    }
                    a {
                        color: inherit;
                        button {
                            cursor: pointer;
                            background-color: transparent;
                            border: none;
                            color: inherit;
                            font-size: inherit;
                            font-weight: bolder;
                            font-family: 'Bommer Sans';
                            padding: 0;
                            margin: 0;
                            outline: none;
                        }
                    }
                }
            }
        }
    }

    #buon {
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100vh;
        background-color: $darkblue;
        position: relative;

        .disivion {
            width: 100%;
            max-width: 100%;
        }

        #scene {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;

            .wave {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                width: 110%;
                margin-bottom: -8%;
                margin-left: -15%;
                
                svg {
                    @include extralarge() {
                        animation: wave 6s ease-in-out -1s infinite alternate forwards;
                    }
                    @include large() {
                        animation: wave 6s ease-in-out -1s infinite alternate forwards;
                    }
                    width: 170%;
                    margin-left: -40%;
                }

                &.wave1 {
                    z-index: 7;
                    position: absolute !important;
                    
                    svg {
                        animation-direction: alternate-reverse;
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 5%;
                    }
                }

                &.wave2 {
                    z-index: 6;

                    svg {
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 2%;
                    }
                }

                &.wave3 {
                    z-index: 5;

                    
                    svg {
                        animation-direction: alternate-reverse;
                        position: absolute;
                        bottom: 0;
                    }
                }

                &.wave4 {
                    z-index: 4;

                    svg {
                        position: absolute;
                        bottom: 0;
                    }
                }

                &.wave5 {
                    z-index: 3;

                    svg {
                        position: absolute;
                        bottom: 10%;
                    }
                }

                &.wave6 {
                    z-index: 2;

                    
                    svg {
                        animation-direction: alternate-reverse;
                        position: absolute;
                        bottom: 0;
                    }
                }
            }
        }

        .welcome {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            width: 100%;
            z-index: 8;
            white-space: nowrap;

            >img {
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 900px;
                position: absolute;
            }

            h3 {
                position: absolute;
                bottom: 100px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 2.125rem;
                color: white;
                font-weight: bold;
                text-align: center;
                letter-spacing: 0rem;

                button {
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    width: 100%;
                    outline: none;
                    cursor: pointer;

                    img {
                        max-width: 30px;
                        cursor: pointer;
                        transition: ease-in-out;
                        animation: pointdown 1s infinite;
                    }
                }
            }
        }

        &.giorno {
            background-color: $giorno;
            #scene {
                .wave {
                    @for $i from 1 through 6 {
                        &.wave {
                            &#{$i} {
                                svg {
                                    path {
                                        fill: map-get($giornoColors, $i);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.pomeriggio {
            background-color: $pomeriggio;
            #scene {
                .wave {
                    @for $i from 1 through 6 {
                        &.wave {
                            &#{$i} {
                                svg {
                                    path {
                                        fill: map-get($pomeriggioColors, $i);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #vini {
        overflow: hidden;
        position: relative;

        menu {
            li {
                color: $primary;

                button {
                    svg {

                        path,
                        circle {
                            fill: $primary;
                        }
                    }
                }
            }
        }

        .vini-container {
            height: 100%;
            display: flex;
            align-items: stretch;
            justify-content: space-between;

            .vini {
                height: 100%;
                width: calc(50% - 5px);
                position: relative;
                min-height: calc(100vh - 35px);
                overflow: hidden;

                a {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    transition: ease-in-out 500ms;

                    &:hover {
                        transform: scale(1.05);
                    }

                    &.flora {
                        background-image: url(../imgs/flora.jpg);
                    }

                    &.il-pisani {
                        background-image: url(../imgs/il-pisani.jpg);
                    }
                }
            }
        }
    }

    #nostro-vino {
        overflow: hidden;
        position: relative;
        background-color: $primary;
        border-top: 5px $grey;
        background: $primary url(../imgs/patternV.png);
        background-repeat: repeat-x;
        background-position: center bottom;
        animation: slide 20s linear infinite;

        .container {
            padding: 200px 15px;
            position: relative;

            .top-logo {
                svg {
                    width: 100%;
                    max-width: 250px;

                    path {
                        fill: white;
                    }
                }
            }

            .wine-details {
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    margin-left: -12.5rem;
                    margin-top: 5em;
                }
            }

            #house2 {
                position: absolute;
                top: 200px;
                right: 0;
            }

            .section-title {
                h2 {
                    font-size: 15.7rem;
                    line-height: 11.5rem;
                    color: $gold;
                    margin-top: -7rem;

                    span {
                        line-height: 16.4rem;
                        display: inline-block;
                    }
                }
            }

            .bottle {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(calc(-50% + 260px), -50%);

                svg {
                    max-width: 17.8rem;
                    width: 100%;
                }
            }
        }
    }

    #la-casa {
        overflow: hidden;
        position: relative;
        min-height: 1200px;

        menu {
            li {
                color: $primary;

                button {
                    svg {

                        path,
                        circle {
                            fill: $primary;
                        }
                    }
                }
            }
        }

        .container {
            padding: 200px 15px;

            .top-logo {
                svg {
                    width: 100%;
                    max-width: 250px;
                }
            }

            .about {
                display: flex;
                justify-content: space-between;
                align-items: stretch;

                >div {
                    width: 25%;
                }

                .house-text {
                    p {
                        margin-top: 140px;
                        color: $primary;
                    }

                    svg {
                        margin-top: 120px;
                        max-width: 248px;
                    }
                }

                .section-title {
                    height: 100%;
                    width: 40%;

                    h2 {
                        font-size: 15.875em;
                        line-height: 14rem;
                        transform: translateY(290px) rotate(-90deg);
                        color: $primary;
                        white-space: nowrap;
                    }
                }

                .house-painting {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    justify-content: flex-end;

                    p {
                        color: $primary;
                        width: 100%;
                        display: block;
                        font-family: 'BommerSans', Arial, Helvetica, sans-serif;
                        font-size: 1.6rem;
                        line-height: 1.75rem;
                        font-weight: bold;
                        margin-bottom: 1.6rem;
                    }
                }
            }

            #vecchio-nuovo {
                min-height: 523px;
                margin-top: 140px;

                img {
                    width: 100%;
                }
            }
        }
    }

    #photos {
        overflow: hidden;
        position: relative;
        background-color: $gold;
        width: 100%;
        display: block;
        padding: 12px 0;
        max-height: 500px;

        menu {
            li {
                color: $gold;

                button {
                    svg {

                        path,
                        circle {
                            fill: $gold;
                        }
                    }
                }
            }
        }

        button{
            &[data-action] {
                display: none;
            }
        }

        .tns-outer {
            margin-top: -10px;
        }

        #slideshow {
            div {
                padding: 0 2px;
                img {
                    width: 100%;
                    image-orientation: 90deg flip;
                }
            }
        }
    }

    #contact {
        position: relative;
        overflow: hidden;
        background-image: url(../imgs/oldmap.svg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 850px;

        menu {
            li {
                color: $gold;

                button {
                    svg {

                        path,
                        circle {
                            fill: $gold;
                        }
                    }
                }
            }
        }
    }
}

.pixelcompare-container {
    overflow: inherit;
    position: relative;

    &::before {
        content: 'vecchio';
        font-family: 'BommerSans', Arial, Helvetica, sans-serif;
        font-size: 3.4rem;
        color: white;
        position: absolute;
        top: 50%;
        left: -60px;
        transform: translateY(-50%) rotate(-90deg);
        z-index: 21;
    }

    &::after {
        content: 'nuovo';
        font-family: 'BommerSans', Arial, Helvetica, sans-serif;
        font-size: 3.4rem;
        color: white;
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translateY(-50%) rotate(-90deg);
        z-index: 21;
    }
}

.pixelcompare-horizontal .pixelcompare-handle {
    width: 10px;
    background-color: $primary;
    height: calc(100% + 20px);
    top: 10px;
    box-shadow: none;

    &::before,
    &::after,
    .pixelcompare-left-arrow,
    .pixelcompare-right-arrow {
        display: none;
    }
}